.header {
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
}

.header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}

.header a:hover {
    color: #FF9900;
}

.header span {
    color: #FF9900;
    font-size: 17px;
    font-weight: bold;
    margin-left: 46px;
}

.btn-logOut {
    background-color: #FF9900;
    color: #FFFFFF;
    font-size: 17px;
    border: 0;
    border-radius: 4px;
    padding: 6px 12px;
    margin-left: 16px;
}